streamlit
pdfplumber
matplotlib
streamlit
seaborn
plotly
folium
streamlit_folium
wordcloud
streamlit-option-menu
opencv-python-headless
nltk
scikit-learn
streamlit-embedcode
st-material-table
pandas
plost
streamlit-authenticator
streamlit-embedcode
